
.content{
	background-color:black;
	padding:20px;
}

.socialmedia{
	display:flex;
	flex-wrap:wrap;
}
.top{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	margin:10px;
}
.logo-details{
	width:20%;
}
.logo_name{
	color:white;
	font-size:30px;
}
.media-icons img{
	margin:5px;	
}

.link-boxes{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.social-media{
	color:white;
	margin:18px;
}

.bottom-details{
	background-color:grey;
	display:flex;
	justify-content:space-between;
	padding:0px 20px;
	color:white;
	flex-wrap:wrap;
}